<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ning.mapper.HistoryMapper">


    <select id="getListByUserId" resultType="com.ning.domain.dto.ResumeVo">
        SELECT resume.*
        FROM history
        LEFT JOIN resume ON resume_id=history.resume_id
        where user_id = #{id}
    </select>
</mapper>
