<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ning.mapper.UserResumeMapper">
    <select id="getListByUserId" resultType="com.ning.domain.vo.ResumeVo">
        SELECT r.*,ur.is_default
        FROM `user_resume` ur
                 LEFT JOIN resume r on ur.resume_id = r.id
        WHERE ur.user_id = #{userId}
    </select>
</mapper>